{% extends "base.html" %}



{% block main_content %}
<div id="bannerHome">

<div id="chart">


<div class="label">{{ chart.title }} </div>
<table>
	<tr>
		<td><!-- {{ chart.poll2.question }} --></td>
{% for r in stat.items.0.1.items %}
		<td align="center">
			<div class="chart_header_block"><br/><br/>{{ r.0 }}</div>
		</td>		
{% endfor %}
	</tr>
	
{% for s in stat.items %}
<tr>
	<td width="20">
		<div class="chart_header_text_side"></div>
		<div class="chart_header_block_side"><br/><br/>{{ s.0 }}</div>
	</td>
{% for c in s.1.items %}
		<td class="stat">{{ c.1|floatformat:0}}%</td>
{% endfor %}
</tr>
{% endfor %}

</table>

</div>

</div>


{% endblock %}
