{% extends "base.html" %}


{% block main_content %}
<div id="bannerHomeTable">
<div class="cent">
<img width="100%" height="100px" alt="Wikilife" src="/static_media/img/header.png">
<!-- -->
<div id="pimientos"> </div>
</div>
<div id="chartTable">


<div class="label">{{ chart.title }} </div>
<table>
	<tr>
		<td><!-- {{ chart.poll2.question }} --></td>
{% for r in stat.items.0.1.items %}
		<td  class="stat_x" align="center">
			{{ r.0 }}
		</td>		
{% endfor %}
	</tr>
	
{% for s in stat.items %}
<tr>
	<td class="stat_y">
		{{ s.0 }}
	</td>
{% for c in s.1.items %}
		<td class="stat_{{ forloop.parentloop.counter }}">{{ c.1|floatformat:0}}%</td>
{% endfor %}
</tr>
{% endfor %}

</table>

</div>

</div>


{% endblock %}
