{% extends "base-question.html" %}

{% block peppers %} {{ poll.sequence }} {% endblock %});

{% block left_button %}
{% ifequal poll.sequence  0 %}
 
{% else %}
<!-- div class="izq" onClick="javascript:window.location='/polls/{{ person_id }}/{{ poll.sequence|add:"-1" }}/'"-->
</div>
{% endifequal  %}

{% endblock %}

{% block detail_body %}

{% if poll.has_photo %}
<div id="rows_imagen">
	<div id="choices">
		<img class="unaImagen" src="{{poll.get_photo_url}}" width="209" height="196" alt="{{ poll.question }}" />						
		<br/>
		<span class="pregImagen">{{ poll.question|escape}}</span>
	</div>
</div>	
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="voteForm" action="/polls/vote/" method="post">
<input type="hidden" name="person_id" value="{{ person_id }}"/>
<input type="hidden" name="poll_id" value="{{ poll.id }}"/>
<input type="hidden" name="selected_choice" value="-1"/>


{% for choice in choices %}
<div id="columns_{{ forloop.counter }}" onclick="select_choice({{ choice.id }});">

<div id="choices1">						
	<span id="r_{{ forloop.counter }}" class="pregFila">{{ choice.choice }}</span>
</div>

</div>
</form>
{% endfor %}

<script type="text/javascript">
{% for choice in choices %}
	var text = $('#r_{{ forloop.counter }}').text()
	var l = text.length;
	if (l <=4){
		$('#r_{{ forloop.counter }}').css('font-size', '100px');
	}else{
		if (l <= 13){
			$('#r_{{ forloop.counter }}').css('line-height', '140px').css('font-size', '40px');
		}else{
			if(l <=15){
				$('#r_{{ forloop.counter }}').css('line-height', '60px').css('font-size', '35px');
			}
			else{
				if (l <= 40){
					$('#r_{{ forloop.counter }}').css('line-height', '50px').css('font-size', '30px');
				}else{
					if (l <= 63){
						$('#r_{{ forloop.counter }}').css('line-height', '28px').css('font-size', '30px');
					}else{
						if (l <= 65){
							$('#r_{{ forloop.counter }}').css('line-height', '28px').css('font-size', '25px');
						}
					}
				}
			}
		}
		if (text == "Hombre" || text == "Mujer"){
			$('#r_{{ forloop.counter }}').css('font-size', '60px').css('line-height', '100px');
		}
	
	if (text == "Otras"){
		$('#r_{{ forloop.counter }}').css('line-height', '140px').css('font-size', '30px');
	}
	

		

	}
	
	{% endfor %}	
	

</script>

{% endblock %}

{% block question %}

{{ poll.question|safe}}

{% endblock %}
