{% extends "base.html" %}

{% block right_button %}
<div class="der" onClick='javascript:window.location="/polls/start/"'></div>
{% endblock %}

 {% block content %}
<div id="innerBannerHome">					
<div id="saludoFinal"><ul>
<li>El cuestionario es completamente an&oacute;nimo.</li>
<li>Para cada pregunta eleg&iacute; la opci&oacute;n de respuesta m&aacute;s relevante.</li>
<li>Los resultados obtenidos se mostrar&aacute;n en las p&aacute;ginas web de Wikilife y de la Fundaci&oacute;n Columbia.</li>
</ul>
</div>
</div>

{% endblock %}