{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
function sendEmail()
{
  var form = document.getElementById("emailForm");
  form.submit();
}
</script>
<script type="text/javascript">
jQuery(document).ready(function($){
	
	var cargarPimientos = function(pasoActual){
		/*Control por si ingresan un valor menor que 1 o mayor que el total de pasos*/
		total = 12;
		if(pasoActual < 0 || pasoActual > total)
			pasoActual = 0;
		
		//calculo la cantidad de pasos que faltan
		cantPasosFaltantes = total - pasoActual;
		
		//primero dibujo los pimientos grisados
		for(i=0; i<pasoActual; i++){
			
			$("#pimientos").append('<img src="/static_media/img/bola_on.png" width="19" height="19" />').hide().fadeIn();
			
		}
		
		//segundo dibujo los pimientos rojos
		for(i=0; i<cantPasosFaltantes; i++){
			
			$("#pimientos").append('<img src="/static_media/img/bola_off.png" width="19" height="19" />').hide().fadeIn();
		}
			
	
		
	}
	cargarPimientos(12);
	
});
</script>
{% endblock %}

{% block right_button %}
<div class="der" onClick="sendEmail()"></div>
{% endblock %}

 {% block content %}
<div id="innerBannerHome">					
<div id="saludoFinal">Muchas gracias! Dejanos tu email para enviarte los resultados</div>
</div>
<div id="email">
<form id="emailForm" action="/polls/email/" method="post">
<input type="text" name="email" value=""/>
<input type="hidden" name="person_id" value="{{ person.id }}"/>
</form>
</div>
 {% endblock %} 

